// https://github.com/Semantic-Org/Semantic-UI/blob/master/src/themes/default/globals/site.variables

// Breakpoints
$mobileBreakpoint:            320px;
$tabletBreakpoint:            768px;
$computerBreakpoint:          992px;
$largeMonitorBreakpoint:      1200px;
$widescreenMonitorBreakpoint: 1920px;
