- title 'Desarrollador de software'
- description 'Página web personal'
- keywords 'desarrollador, rails, ruby, software, madrid, desarrollador rails, desarrollador ruby, desarrollador software, desarrollador rails madrid, desarrollador ruby madrid, desarrollador software madrid'

%section
  %picture
    = image_tag 'davidmontesdeoca-200.png', alt: 'David Montesdeoca'
  %h1 ¡Hola! Soy David Montesdeoca
  %h2 Soy un desarrollador de software procedente de Las Palmas de Gran Canaria, España, y actualmente vivo en Madrid.
