- title 'Software developer'
- description 'Personal website'
- keywords 'developer, rails, ruby, software, madrid, rails developer, ruby developer, software developer, rails developer madrid, ruby developer madrid, software developer madrid'

%section
  %h1 Hi! I'm David Montesdeoca
  %h2 I'm a software developer from Las Palmas de Gran Canaria, Spain and currently living in Madrid.
