- title 'Desarrollador de software'
- description 'Página web personal'
- keywords 'desarrollador, rails, ruby, software, madrid, desarrollador rails, desarrollador ruby, desarrollador software, desarrollador rails madrid, desarrollador ruby madrid, desarrollador software madrid'

= render 'avatar'

%header
  %h1 ¡Hola! Soy David Montesdeoca
  %p Desarrollador de software procedente de Las Palmas de Gran Canaria, España. Actualmente vivo en Madrid.

= render 'social'
