%p
  = semantic_icon(:github, :alternate, :large)
  Source code on
  = link_to 'GitHub', 'https://github.com/backpackerhh/personal-website-rails'
%p
  %small
    %span#copyleft &copy;
    = Time.current.year
    David Montesdeoca. Licensed under
    = link_to 'GNU GPLv3', 'http://choosealicense.com/licenses/gpl-3.0/'
