.ui.center.aligned.two.column.vertically.padded.grid
  .row
    .six.wide.mobile.only.column
    .ten.wide.tablet.only.column
    .twelve.wide.computer.only.column
    .ten.wide.mobile.six.wide.tablet.four.wide.computer.column
      %nav#language-switcher
        %ul.ui.horizontal.divided.list
          %li.item= link_to_unless current_locale?(:en), 'English', root_path(locale: :en)
          %li.item= link_to_unless current_locale?(:es), 'Español', root_path(locale: :es)
