%nav
  %ul
    %li{ title: 'English' }= link_to_unless current_locale?(:en), 'EN', root_path(locale: :en)
    %li{ title: 'Español' }= link_to_unless current_locale?(:es), 'ES', root_path(locale: :es)
